* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom, #007BFF, #003366);
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f0f4f8;   
    --container-color: #ffffff;
    --text-color: #333333;
    --hover-color: #8F0B13;
    --button-color: #681304;
    --border-color: rgb(5, 114, 202);
}

.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; /* Full height for centering */
    width: 100vw;   
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

/* Back Icon */
.back-icon {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.back-icon i {
    transition: color 0.3s;
}

.back-icon:hover i {
    color: #007bff;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 15px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="number"],
select{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1; 
}

/* Textarea */
textarea {
    resize: vertical;
    height: 100px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

/* Button Styles */
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.back-icon {
    display: inline-block;
    margin-bottom: 20px; /* Adjust margin as needed */
    text-decoration: none; /* Remove underline */
    color: #333;
    font-size: 24px;
    text-align: left; /* Align text to the left */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for transform */
}

.back-icon:hover {
    color: #007BFF; /* Change color on hover */
    transform: scale(1.1); /* Scale up the icon on hover */
}


  /* Error message styling */
  .error {
    color: red; /* Red color for error messages */
    font-size: 0.9em; /* Slightly smaller font size */
    margin-top: 5px; /* Space between the input and the error message */
    display: block; /* Ensure the error message is displayed as a block element */
}

